*{
    padding: 0;     /* espacio interior en cada elemento */
    margin: 0;      /* espacio exterior en cada elemento */

    border: solid 1px #000;  /*muestra bordes en color negro, sirven como guia */
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header{
    background-image: url("../img/bradcam.png");
    background-size: 100% 100%;     /* dos veces 100% pues se indica que es eje x y eje y */
    background-position: center center;
    background-repeat: no-repeat;
    color: white;       
}

header #menu{
    padding: 50px 0;
}

header #menu ul{
    margin: 0;
    padding: 0;
}

header #menu ul li{
    display: inline-block;      /* con esto a los elementos del menu los alineo horizontalmente uno al lado del otro */
    padding: 10px;
    vertical-align: middle;     /* alineación vertical, con esto alíneo el menu con el logo de manera vertical */
}

header #menu ul li a{
    display: inline-block;
}

header #menu ul li a{
    color: white;
    text-decoration: none;
}

/* hacemos referencia a cuando el puntero se encuentra sobre alguna opción del menu */
header #menu ul li a:hover{
    text-decoration: underline;
    color: blueviolet;
}

header #menu ul #logo{
    margin-right: 40%;
    margin-left: 100px;
}

/********************************************/

#main-container header main{
    margin: 0 auto;
    width: 1400px;
}

#main-container header main div{
    display: inline-block;
    vertical-align: middle;
}

#main-container header main .text h1{   
    font-size: 60px;
    text-align: justify;
}

#main-container header main .text p{   
    font-size: 19px;
    padding: 20px 0;
}

button{
    background: #24d9e6;
    border: 0;
    border-radius:  3px;
    color: white;
    cursor: pointer;
    font-size: 24px;
    padding: 20px 25px;
    margin: 40px 0;
}

button:hover{
    /*background: #14929b;*/
    background: blueviolet;
}

#main-container header main .image{   
    text-align: right;
    width: 500px;
}

/********************************************/

.layout{
    width: 1280px;
    margin: 250px auto;
}

#main-container .section .layout div{
    display: inline-block;
    vertical-align: middle;
}

#main-container .section .layout h3{
    font-size: 48px;        /* tamaño de la fuente */
    padding: 25px 0;        /* sirve para dejar espacios entre palabras */
}

#main-container .section .layout p{
    padding: 25px 0;
    line-height: 32px;
}

#main-container .section .layout-left .text{
    width: 500px;
}

#main-container .section .layout-left .image{
    width: 770px;
    text-align: right;
}

#main-container .section .layout-right .text{
    width: 500px;
}

#main-container .section .layout-right .image{
    width: 770px;
    text-align: center;
}

/********************************************/

footer{
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: right;
}
